.page-banner{
    font-family: Monospace;
    font-size: 25px;
    color: white;
}
              
body{
    background-color:#051e08;
}

#textart{
    color:#00FF00;
    font-family: 'Courier New', Courier, monospace;
    line-height:8px;
}

.text{
    color:#00FF00;
    font-family: Monospace;
}

.button:hover{
    color:#051e08;
    background-color:#00FF00;
}
